html {
  padding: 5px;
}

html, body {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
}

body {
  background: url(background.jpg) center fixed;
  background-size: 256px;
}
#render-target {
  height: 100%;
}

.login-buttons-landing{
  position: fixed;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0px;
  zoom: 2;
}
