html {
  padding: 5px;
}

html, body {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
}

body {
  background-color: #a2b9dac4;
}
#render-target {
  height: 100%;
}

.login-buttons-landing{
  position: fixed;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0px;
  zoom: 2;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes animatedBackgroundToLeft {
	from { background-position: 0 0; }
	to { background-position: -1000px 0; }
}

@keyframes animatedBackgroundToRight {
	from { background-position: 0 0; }
	to { background-position: 1000px 0; }
}
